---
import { getBudgets } from "lib/server";
import Layout from "../_layout.astro";
import { nanoid } from "nanoid";

const budgets = await getBudgets({
	traceId: nanoid(),
	parentSpanId: "/pages/budgets.astro",
	arguments_: {},
});
---

<Layout>
	<div class="h-[80vh] flex items-start">
		<table class="w-screen text-sm table-fixed">
			<thead class="bg-lime-100">
				<tr class="text-lg">
					<th class="py-4">분류</th>
					<th>현재</th>
					<th>예산</th>
					<th>잔액</th>
				</tr>
			</thead>
			<tbody class="text-right">
				{
					budgets === undefined
						? undefined
						: budgets.map((b) => (
								<tr class="border-t-1 border-gray-300">
									<td
										class="text-center pl-4 py-4"
									>
										<a
											href={`/budget/${b.category}`}
											class="w-full"
										>
											{b.category}
										</a>
									</td>
									<td>{b.current.toLocaleString()}</td>
									<td>
										{b.budget.toLocaleString()}
									</td>
									<td class="pr-1">
										{b.remain.toLocaleString()}
									</td>
								</tr>
							))
				}
			</tbody>
		</table>
	</div>
</Layout>
